<!DOCTYPE html>
<html lang="{{locale}}">
<head>
  <title>{{title}} | {{req.we.config.appName}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  {{#if _csrf}}<meta name="csrf-token" content="{{_csrf}}" />{{/if}}

  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

  {{{render-metadata-tags}}}
  {{{render-stylesheet-tags}}}
  {{{render-javascript-tags 'header'}}}
</head>
<body class="{{model}} {{model}}-{{id}} {{action}}">
  {{we-event event="we-html-body-start"}}
  {{{template 'partials/header'}}}
  {{{layoutHtml}}}
  {{{template 'partials/footer'}}}
  {{we-event event="we-html-body-end"}}
</body>
</html>