<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12">
        <h1>{{event.title}}</h1>
        <h3>@{{event.abbreviation}}</h3>
        <br>
      </div>
      <div class="col-lg-2">
        <p>
          <strong>{{t 'form-event-location'}}</strong><br>
          {{event.location}}
        </p>
        <p class="home-event-date">
          {{#with event}}
            <strong>{{t 'event.dates'}}:</strong> <br>
            {{we-cf-date-range start=eventStartDate end=eventEndDate __=../__}}
          {{/with}}
        </p>
        {{#if event.vacancies}}
          <h5>{{t 'form-event-vacancies'}}</h5>
          <p>{{event.vacancies}}</p>
        {{/if}}
        <img class="hidden-xs hidden-sm hidden-md" src="/public/theme/we-theme-pratt/img/arrow1.png" alt="An arrow image pointing to example image">
      </div>
      <div class="col-lg-8">
        {{#each event.banner}}
          {{{we-image this 'original' class="hidden-xs hidden-sm hidden-md img-responsive"}}}
        {{/each}}
      </div>
      <div class="col-lg-2">
        <img class="hidden-xs hidden-sm hidden-md" src="/public/theme/we-theme-pratt/img/arrow2.png" alt="An arrow image pointing to example image">
        <p>
          {{#with event}}
            {{#if callForPapersStartDate}}
              <strong>{{t 'event.callForPapersDates'}}:</strong> {{we-cf-date-range start=callForPapersStartDate end=callForPapersEndDate __=../__}}
              <br>
            {{/if}}
            <strong>{{t 'event.registrationDates'}}:</strong>  {{we-cf-date-range start=registrationStartDate end=registrationEndDate __=../__}}
          {{/with}}
        </p>
        <h5>
          {{#with event}}
            {{{template 'event/event-status-label'}}}
          {{/with}}
        </h5>
        <p>
          {{we-cf-registration-btn class="btn btn-block btn-lg" event=event locals=this userCfregistration=userCfregistration}}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {{#region 'highlighted'}}{{/region}}
  <div id="sysMessagesArea">{{{we-messages}}}</div>
  <section id="about">
    <div id="content" role="main" class="about-content">
      {{{body}}}
    </div>
  </section>
  {{#region 'afterContent'}}{{/region}}
</div>